.dropdown {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 400px;
  overflow-y: scroll;
  position: relative;
  top: 10px;
  gap: 20px;
}

.list-container {
  height: 500px;
  width: 400px;
  z-index: 2;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.list-item:hover {
  background-color: #4b4b50;
}

.dropdown-button {
  color: white;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

.dd-button-container {
  width: 100%;
  background-color: #3e3e42;
  padding: 15px;
  border-radius: 20px;
}

.flex-row {
  display: flex;
  gap: 90px;
}

#go-btn {
  height: 85px;
  width: 150px;
  padding: 15px;
  font-size: 30px;
  border-radius: 20px;
  color: white;
  background-color: #007acc;
  border: none;
}

#go-btn:hover {
  cursor: pointer;
  background-color: #028ae4;
}

#go-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
